@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pliant:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --page-bg: #d6e1f0;
  --card-bg: #ffffff;
  --heading-color: #1f314f;
  --text-color: #7d889e;

  --card-radius: 1rem;
  --image-radius: 0.75rem;
  --card-padding: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--page-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--card-bg);
    border-radius: var(--card-radius);
    padding: var(--card-padding);
    max-width: 20.25rem;
    height:32.25rem ;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.img-sec img{
    width: 100%;
    border-radius: 0.8125rem;
    object-fit: cover;
}

.content h1{
    color: var(--heading-color);
    font-family: 'Outfit', sans-serif;
    font-size: clamp(1.25rem, 2vw, 1.4rem);
    padding: 1rem 1rem;
    text-align: center;
}

.content p{
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    padding: 0.625rem 1.25rem;
    text-align: center;
     line-height: 1.3;
}
